$root-ft-size: 14px;
$root-line-height: 1.15;

/*
* 颜色变量区域
*/

//基本色
$color-white: #fff;
$color-red: #f00;

//主题色
$color-theme-main: #1c6573;

//背景色
$color-body-bg: #e6ecf2;

//字体色
$color-ft-main: #555;
$coloe-breadcrumbs-separator: #b0bec5;

//阴影色
$color-shadow-siderbar: rgba(179, 193, 208, 0.45);
