.app-home-header {
  height: 3.5rem;
  line-height: 3.5rem;
  .app-logo {
    display: inline-block;
    height: 100%;
    margin-left: 1rem;
  }

  .app-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 0.5rem;
  }

  .app-name {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    vertical-align: middle;
  }

  .home-header-toolbar {
    float: right;
    height: 100%;
    margin-right: 1rem;
    color: #fff;
    .toolbar-item {
      display: inline-block;
      height: inherit;
      padding: 0 0.5rem;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}
